.box9 {
  padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.box9 h4 {
  margin: 0; 
  padding: 0.5em;
  border-bottom: double 5px #FFC778;
}

.box9 p {
  margin: 0; 
  padding: 0;
}